div{
    height: 100px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid yellow;
    border-left: 5px dashed blue;
    border-radius: 50px;
    padding: 70px;
    margin: 20px;
}

h1{
    border: 2px dashed green;
    /* border-radius: 50%; */
} 

button{

    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgray;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}