h1{
    color: black;
    text-align: center;
    font-weight: 100; /*lighter*/
    text-decoration: pink dashed line-through;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    color: black;
    text-align: left;
    text-decoration: red wavy underline;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #000;
    text-decoration: blue dotted overline;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    text-align: left;
    font-weight: 400;/*normal*/
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;    /*medium*/
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}