#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
}

#org{
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 3; */

    flex: 2 2 100px;
}

#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 2;
    min-width: 100px;
    max-width: 400px; */
    /* flex-shrink: 2; */
    flex-grow: 2;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 1em;
}