h3{
    background-color: antiquewhite !important;
}
h1,h3{
    color: #b92b27;
}

#login{
    background-color: white;
}

#signup{
    background-color:#b92b27;
    color: white ;
}

.upvote{
    background-color: green;
    color: #fff;
}

/*descendent selector*/
.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: hotpink;
}

p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: blue;
    color: #fff;
}

div>input{
    background-color: darksalmon;
}

input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}

input[type]{
    background-color: ghostwhite;
}


#myId p{
    color: green;
}

div[id="myId"] p{
    color: green;
}


button:hover{
    background-color: black;
    color: #fff;
}

h3:hover{
    text-decoration: overline;
}

button:active{
    background-color: hotpink;
    color: #fff;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}

h1::first-letter{
    color: black;
}

p::first-line{
    color: red;
}

p::selection{
    background-color: aquamarine;
}

h3{
    background-color: violet;
}