.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    /* animation: combine 3s ease-in 0s infinite normal ; */
    animation: color2Animate 4s ease-in 0s infinite normal ;


}

@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    from{
       background-color: green; 
    }to{
        background-color: blue;
    }
}

@keyframes color2Animate {
    0%{
       background-color: green; 
    }50%{
        background-color: yellow;
    }80%{
        background-color: red;
    }100%{
        background-color: blue;
    }
}


@keyframes widthAnimate {
    from{
        width: 10px;
    }to{
        width: 400px;
    }
}

@keyframes combine {
    from{
        width: 10px;
        background-color: green;
    }to{
        width: 400px;
        background-color: blue;
        border-radius: 15px;
    }
}